body {
    font-family: 'Taviraj', serif;
}
.body_index {
    background-color: black;
}

#background1 {
    width: 1500px;
    filter: blur(3px);
}
.txtover {
    position: relative;
    margin: 0;
}

.txtover figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    box-sizing: border-box;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 50px;
    background: rgba(0, 0, 0, 0.6);
    border-style: solid;
}

.landing {
    background-color: black;
}

.carousel_slides {
    background-color: black;
}

#background_carousel {
    filter: blur(3px);
    width: 350px;
    height: 450px;
}

a {
    color: white;
    text-decoration: none;
}

.gradient {
    background: rgb(124,132,148);
    background: linear-gradient(180deg, #000000 29.69%, #2C2727 69.79%, #584F4F 100%, #584F4F 100%);
}


.reviews {
    padding-top: 15rem;
    padding-bottom: 10rem;
}

.times {
    color: white;
    padding-top: 2rem;
}

hr {
    background-color: white;
}

.timesh6 {
    line-height: 175%;
}

